html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 450px;
  height: 300px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
}

.gallery {
  padding-top: 15px;
}

.gallery .item {
  padding-left: 17px;
  display: inline-block;
  vertical-align: top;
  width: 125px;
  margin: 0;
}

.gallery .title {
  padding-top: 10px;
  margin-bottom: 5px;
  line-height: 14px;
}

.item:nth-child(3n) {
  margin-top: -15px;
}

.item:nth-child(4n) {
  margin-left: 72px;
}

.gallery .frame {
  border: black solid 1px;
  padding-top: 10px;
  background-color: #ecf0f1;
}

.gallery .image {
  border-top: inherit;
  border-bottom: inherit;
  height: 70px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.gallery .image-1 {

  background-color: #2ecc71;
  background-image: url("cat_box.png");
}

.gallery .image-2 {
  background-color: #3498db;
  background-image: url("cat_fish.png");
}

.gallery .image-3 {
  background-color: #f1c40f;
  background-image: url("cat_purr.png");
}

.gallery .image-4 {
  display: block;
  background-color: #e67e22;
  background-image: url("cat_walk.png");
  text-align: center;
}

.gallery .image-5 {
  display: block;
  background-color: #e74c3c;
  background-image: url("cat_drunk.png");
}

.gallery .date {
  padding: 5px;
  font-size: 11px;
  color: #666666;
  font-style: italic;
}